In [399]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import numpy as np
import statistics

In [400]:
data_combined=pd.read_csv("covid_merge_house_2.csv")

In [401]:
housing_pred=pd.read_csv("final_results.csv")
reshaped_housing_pred = pd.melt(housing_pred, id_vars=['state'], value_vars=list(housing_pred)[:-1])

In [402]:
from datetime import datetime
from datetime import timedelta
reshaped_housing_pred['week_num']=reshaped_housing_pred['variable'].apply(lambda x: \
                (datetime.strptime(x, '%m/%d/%Y')+timedelta(days=6)).strftime('%V'))
reshaped_housing_pred['YM']=reshaped_housing_pred['variable'].apply(lambda x: \
                ((datetime.strptime(x, '%m/%d/%Y')+timedelta(days=6)).isoformat())[:7])
reshaped_housing_pred['total_value_estimate']=reshaped_housing_pred['value']

In [403]:
data_combined['week_num']=data_combined['covid_period_end'].apply(lambda x: \
                (datetime.strptime(x, '%Y-%m-%d')).strftime('%V'))
data_combined = data_combined.merge(reshaped_housing_pred[['state','week_num','total_value_estimate']]\
                                    ,on=['state','week_num'],how='inner')

In [404]:
data_combined['YM']=data_combined['covid_period_end'].apply(lambda x: x[:7])
data_for_clust=data_combined.groupby(['state','YM']).\
    agg({'new_cases':'sum','cum_cases':'max','total_value':'sum',\
         'total_value_estimate':'sum'}).reset_index()
data_for_clust['housing total value change%']=100*(data_for_clust['total_value']-data_for_clust['total_value_estimate'])/data_for_clust['total_value_estimate']

In [405]:
data_for_clust=data_for_clust[['state','YM','new_cases','cum_cases','housing total value change%']]
data_for_clust.head()

  state       YM  new_cases  cum_cases  housing total value change%
0    AK  2020-03      101.0        102                     4.824520
1    AK  2020-04      235.0        337                   -11.175549
2    AK  2020-05      104.0        441                   -23.033093
3    AK  2020-06      586.0       1027                   -20.042965
4    AK  2020-07     1839.0       2866                    13.364975

In [406]:
scaler = StandardScaler()

def optimalK(data, nrefs=3, maxClusters=10):
    """
    Calculates KMeans optimal K using Gap Statistic from Tibshirani, Walther, Hastie
    Params:
        data: ndarry of shape (n_samples, n_features)
        nrefs: number of sample reference datasets to create
        maxClusters: Maximum number of clusters to test for
    Returns: (gaps, optimalK)
    """
    gaps = np.zeros((len(range(1, maxClusters)),))
    resultsdf = pd.DataFrame({'clusterCount':[], 'gap':[]})
    for gap_index, k in enumerate(range(1, maxClusters)):

        # Holder for reference dispersion results
        refDisps = np.zeros(nrefs)

        # For n references, generate random sample and perform kmeans getting resulting dispersion of each loop
        for i in range(nrefs):
            
            # Create new random reference set
            randomReference = np.random.random_sample(size=data.shape)
            
            # Fit to it
            km = KMeans(k)
            km.fit(randomReference)
            
            refDisp = km.inertia_
            refDisps[i] = refDisp

        # Fit cluster to original data and create dispersion
        km = KMeans(k)
        km.fit(data)
        
        origDisp = km.inertia_

        # Calculate gap statistic
        gap = np.log(np.mean(refDisps)) - np.log(origDisp)

        # Assign this loop's gap statistic to gaps
        gaps[gap_index] = gap
        
        resultsdf = resultsdf.append({'clusterCount':k, 'gap':gap}, ignore_index=True)

    return (gaps.argmax() + 1, resultsdf)  # Plus 1 because index of 0 means 1 cluster is optimal, index 2 = 3 clusters are optimal

In [407]:
lists_ofk=[]
for monthx in (['03','04','05','06','07','08','09','10']):
    temp=scaler.fit_transform(data_for_clust[data_for_clust['YM']=='2020-{}'.format(monthx)].values[:,2:4])
    temp_raw=data_for_clust[data_for_clust['YM']=='2020-{}'.format(monthx)].values[:,2:]
    temp_index=data_for_clust[data_for_clust['YM']=='2020-{}'.format(monthx)].values[:,:2]
    k, gapdf = optimalK(temp, nrefs=3, maxClusters=4)
    lists_ofk.append(k)
    print ('for month {}, optimal k is:{}'.format(monthx,k))

print('The mode is {}'.format(statistics.mode(lists_ofk)))

for month 03, optimal k is:3
for month 04, optimal k is:3
for month 05, optimal k is:3
for month 06, optimal k is:3
for month 07, optimal k is:2
for month 08, optimal k is:3
for month 09, optimal k is:3
for month 10, optimal k is:3
The mode is 3

In [408]:
def assign_level(df):
    level_col=[]
    for i in range(len(df)):
        label1=''
        for col in list(summary_temp)[1:]:
            if df.iloc[i][col]<low[col]: label1=label1+'L'
            elif df.iloc[i][col]<high[col]: label1=label1+'M'
            else: label1=label1+'H'
        level_col.append(label1)
    return level_col

def assign_level2(df):
    level_col=[]
    for i in range(len(df)):
        label2=''
        for col in list(summary_temp)[1:-1]:
            if df.iloc[i][col]<mean_[col]: label2=label2+'L'
            else: label2=label2+'H'
        level_col.append(label2)
    return level_col

In [409]:
temp_raw

array([[3466.0, 11710, 33.67060354405917],
       [20071.0, 171662, 27.652936870502934],
       [17667.0, 98422, 19.932699051280316],
       [13586.0, 230412, 21.259416405536843],
       [67043.0, 876257, 24.63864322478682],
       [15831.0, 84804, 34.99189789564001],
       [6243.0, 62830, 101.38231373225696],
       [1119.0, 16334, 15.857936591163686],
       [2786.0, 22942, 53.86013373357852],
       [53799.0, 752473, 16.40751959026274],
       [49915.0, 347468, 46.53728416758478],
       [1935.0, 14101, 6.879513707896433],
       [20790.0, 106698, 4.41518344570815],
       [12171.0, 52582, 32.153680261726784],
       [55104.0, 344787, 58.98036559251091],
       [29581.0, 148400, 33.361214734000896],
       [14764.0, 72616, 36.602665322560775],
       [18785.0, 88823, 17.060369937580717],
       [12574.0, 177726, 31.088367573576814],
       [12880.0, 142930, 54.587432195214845],
       [12135.0, 135463, 43.15958352101136],
       [653.0, 5913, 58.473003683148306],
       [24887.0, 159259, 76.77648806346589],
       [25432.0, 121143, 43.501246268349874],
       [35715.0, 160654, 30.759937902003433],
       [13329.0, 110006, -16.693337123804923],
       [37779.0, 244020, 14.036391677157512],
       [13738.0, 57334, 25.36224661929831],
       [1504.0, 9625, 80.81372556907549],
       [15886.0, 220527, 57.15578037262887],
       [7651.0, 36343, 29.358538826053703],
       [11384.0, 89848, 9.60909952686647],
       [28154.0, 487626, 27.04550540516677],
       [30216.0, 180225, 23.20015115183382],
       [22993.0, 106503, 34.27235072572288],
       [6735.0, 39316, 33.783710326384046],
       [25733.0, 185670, 44.22662350951032],
       [3510.0, 27691, 32.27892738440237],
       [17941.0, 163214, 23.527008325466817],
       [34403.0, 222608, 16.040469498840434],
       [98892.0, 863534, 16.474394292305693],
       [23741.0, 93297, 42.67938955940177],
       [19830.0, 165238, 38.11223264683795],
       [187.0, 1926, 96.00475320782402],
       [12540.0, 102054, 46.30812013909542],
       [55403.0, 175652, 50.845491886066135],
       [4643.0, 19801, 38.69510929006671]], dtype=object)

In [410]:
lists_ofk = []
km_result_all=pd.DataFrame()

for monthx in (['03','04','05','06','07','08','09','10']):
    temp=scaler.fit_transform(data_for_clust[data_for_clust['YM']=='2020-{}'.format(monthx)].values[:,2:4])
    temp_raw=data_for_clust[data_for_clust['YM']=='2020-{}'.format(monthx)].values[:,2:]
    temp_index=data_for_clust[data_for_clust['YM']=='2020-{}'.format(monthx)].values[:,:2]
    kmeans = KMeans(n_clusters=3)
    kmeans.fit(temp)
    y_km = kmeans.fit_predict(temp)
    km_result=pd.DataFrame(np.c_[temp_index,temp_raw,y_km],columns=['state','month',\
                    'new_cases','cum_cases','housing total value change%','cluster'])
    km_result['new_cases']=km_result['new_cases'].astype('int')
    km_result['cum_cases']=km_result['cum_cases'].astype('int')
    km_result['housing total value change%']=km_result['housing total value change%'].astype('float')
    low=dict(km_result.quantile(0.33))
    mean_=dict(km_result.quantile(0.5))
    high=dict(km_result.quantile(0.67))
    summary_temp = km_result.groupby('cluster').agg({'new_cases':'mean',\
                                  'cum_cases':'mean'}).reset_index()
    summary_temp['label']=assign_level(summary_temp)
    summary_temp['label2']=assign_level2(summary_temp)
    km_result=km_result.merge(summary_temp[['cluster','label','label2']],on='cluster',how='inner')
    km_result_all=km_result_all.append(km_result)

In [411]:
km_result_all.groupby(['month','cluster','label'])['label'].count()

month    cluster  label
2020-03  0        MM       37
         1        HH        1
         2        HH        9
2020-04  0        MM       39
         1        HH        1
         2        HH        7
2020-05  0        MM       39
         1        HH        7
         2        HH        1
2020-06  0        MM       42
         1        HH        4
         2        HH        1
2020-07  0        MM       39
         1        HH        3
         2        HH        5
2020-08  0        HH        3
         1        MM       35
         2        HH        9
2020-09  0        HH       18
         1        LL       26
         2        HH        3
2020-10  0        HH       10
         1        LM       34
         2        HH        3
Name: label, dtype: int64

In [412]:
# km_result_all.to_csv('monthly_cluster_housing_price_change.csv',index=False)
km_result_all

,state,month,new_cases,cum_cases,housing total value change%,cluster,label,label2
0,AK,2020-03,101,102,4.824520,0,MM,LL
1,AL,2020-03,714,720,-6.277891,0,MM,LL
2,AR,2020-03,408,409,4.172275,0,MM,LL
3,AZ,2020-03,772,773,-12.527380,0,MM,LL
4,CO,2020-03,2059,2061,0.901185,0,MM,LL
...,...,...,...,...,...,...,...,...
42,NY,2020-10,28154,487626,27.045505,0,HH,HH
43,OH,2020-10,30216,180225,23.200151,0,HH,HH
44,PA,2020-10,25733,185670,44.226624,0,HH,HH
45,TN,2020-10,34403,222608,16.040469,0,HH,HH
46,WI,2020-10,55403,175652,50.845492,0,HH,HH

In [413]:
out = km_result_all.merge(km_result_all,on='state',how='left')
out = out[out['month_x']>=out['month_y']].drop(out.columns[2:8],axis=1)
out.loc[out['month_x']==out['month_y'],'keep']=1
out.loc[out['label_y']=='HH','Cov_label']='High risk'
out['Cov_label']=out['Cov_label'].fillna('Medium to low risk')
out.columns=['state','month_label','month','new_cases','cum_cases','housing total value change%',\
             'cluster','label','label2','keep','Cov_label']
out

,state,month_label,month,new_cases,cum_cases,housing total value change%,cluster,label,label2,keep,Cov_label
0,AK,2020-03,2020-03,101,102,4.824520,0,MM,LL,1.0,Medium to low risk
8,AL,2020-03,2020-03,714,720,-6.277891,0,MM,LL,1.0,Medium to low risk
16,AR,2020-03,2020-03,408,409,4.172275,0,MM,LL,1.0,Medium to low risk
24,AZ,2020-03,2020-03,772,773,-12.527380,0,MM,LL,1.0,Medium to low risk
32,CO,2020-03,2020-03,2059,2061,0.901185,0,MM,LL,1.0,Medium to low risk
...,...,...,...,...,...,...,...,...,...,...,...
3003,WI,2020-10,2020-06,11720,30235,1.490662,0,MM,LH,NaN,Medium to low risk
3004,WI,2020-10,2020-07,21500,51735,41.608398,0,MM,LL,NaN,Medium to low risk
3005,WI,2020-10,2020-08,28032,79767,34.642384,1,MM,LL,NaN,Medium to low risk
3006,WI,2020-10,2020-09,40482,120249,50.331433,0,HH,HH,NaN,High risk
3007,WI,2020-10,2020-10,55403,175652,50.845492,0,HH,HH,1.0,High risk

In [414]:
out.to_csv('monthly_cluster_housing_price_change.csv',index=False)

In [417]:
# data_combined[data_combined['state']=='TX']

,state,yyyy_ww,covid_period_end,covid_period_begin,new_cases,new_deaths,cum_cases,cum_deaths,new_cases_avg_2_wks,new_cases_avg_3_wks,...,new_deaths_avg_2_wks,new_deaths_avg_3_wks,new_deaths_avg_4_wks,period_begin,total_homes_sold,total_value,AVG_median_sales_price,week_num,total_value_estimate,YM
1307,TX,2020-09,2020-03-07,2020-03-01,8.0,0.0,19,0,7.5,5.666667,...,0.0,0.000000,0.00,2020-03-01,5422.0,1.430965e+09,263918.285319,10,1.299004e+09,2020-03
1308,TX,2020-10,2020-03-14,2020-03-08,50.0,0.0,69,0,29.0,21.666667,...,0.0,0.000000,0.00,2020-03-08,5432.0,1.406036e+09,258843.224411,11,1.420504e+09,2020-03
1309,TX,2020-11,2020-03-21,2020-03-15,478.0,5.0,547,5,264.0,178.666667,...,2.5,1.666667,1.25,2020-03-15,5481.0,1.441080e+09,262922.741471,12,1.389859e+09,2020-03
1310,TX,2020-12,2020-03-28,2020-03-22,1834.0,25.0,2381,30,1156.0,787.333333,...,15.0,10.000000,7.50,2020-03-22,5734.0,1.537039e+09,268056.999651,13,1.864477e+09,2020-03
1311,TX,2020-13,2020-04-04,2020-03-29,4185.0,94.0,6566,124,3009.5,2165.666667,...,59.5,41.333333,31.00,2020-03-29,6112.0,1.613241e+09,263946.554319,14,1.335531e+09,2020-04
1312,TX,2020-14,2020-04-11,2020-04-05,6642.0,141.0,13208,265,5413.5,4220.333333,...,117.5,86.666667,66.25,2020-04-05,4163.0,1.110425e+09,266736.687485,15,1.438118e+09,2020-04
1313,TX,2020-15,2020-04-18,2020-04-12,5719.0,222.0,18927,487,6180.5,5515.333333,...,181.5,152.333333,120.50,2020-04-12,5051.0,1.353936e+09,268052.999208,16,1.541807e+09,2020-04
1314,TX,2020-16,2020-04-25,2020-04-19,5567.0,175.0,24494,662,5643.0,5976.000000,...,198.5,179.333333,158.00,2020-04-19,4561.0,1.201868e+09,263509.702697,17,1.676430e+09,2020-04
1315,TX,2020-17,2020-05-02,2020-04-26,6939.0,213.0,31433,875,6253.0,6075.000000,...,194.0,203.333333,187.75,2020-04-26,6061.0,1.605761e+09,264933.266953,18,1.933964e+09,2020-05
1316,TX,2020-18,2020-05-09,2020-05-03,7416.0,211.0,38849,1086,7177.5,6640.666667,...,212.0,199.666667,205.25,2020-05-03,3959.0,1.004303e+09,253676.036120,19,1.541709e+09,2020-05
1317,TX,2020-19,2020-05-16,2020-05-10,9017.0,244.0,47866,1330,8216.5,7790.666667,...,227.5,222.666667,210.75,2020-05-10,4705.0,1.235002e+09,262487.070988,20,1.721898e+09,2020-05
1318,TX,2020-20,2020-05-23,2020-05-17,7585.0,192.0,55451,1522,8301.0,8006.000000,...,218.0,215.666667,215.00,2020-05-17,5388.0,1.423021e+09,264109.353935,21,1.737488e+09,2020-05
1319,TX,2020-21,2020-05-30,2020-05-24,7945.0,154.0,63396,1676,7765.0,8182.333333,...,173.0,196.666667,200.25,2020-05-24,6739.0,1.804721e+09,267802.474700,22,2.013273e+09,2020-05
1320,TX,2020-22,2020-06-06,2020-05-31,11681.0,164.0,75077,1840,9813.0,9070.333333,...,159.0,170.000000,188.50,2020-05-31,5849.0,1.582950e+09,270636.027697,23,1.687049e+09,2020-06
1321,TX,2020-23,2020-06-13,2020-06-07,13043.0,149.0,88120,1989,12362.0,10889.666667,...,156.5,155.666667,164.75,2020-06-07,5930.0,1.605364e+09,270719.067285,24,1.711235e+09,2020-06
1322,TX,2020-24,2020-06-20,2020-06-14,23474.0,197.0,111594,2186,18258.5,16066.000000,...,173.0,170.000000,166.00,2020-06-14,7193.0,1.991034e+09,276801.588628,25,1.729419e+09,2020-06
1323,TX,2020-25,2020-06-27,2020-06-21,37045.0,212.0,148639,2398,30259.5,24520.666667,...,204.5,186.000000,180.50,2020-06-21,7597.0,2.110364e+09,277789.169146,26,2.183416e+09,2020-06
1324,TX,2020-26,2020-07-04,2020-06-28,47068.0,248.0,195707,2646,42056.5,35862.333333,...,230.0,219.000000,201.50,2020-06-28,8711.0,2.478417e+09,284515.763747,27,1.451168e+09,2020-07
1325,TX,2020-27,2020-07-11,2020-07-05,62573.0,560.0,258280,3206,54820.5,48895.333333,...,404.0,340.000000,304.25,2020-07-05,7264.0,2.073967e+09,285513.040336,28,1.693609e+09,2020-07
1326,TX,2020-28,2020-07-18,2020-07-12,71779.0,766.0,330059,3972,67176.0,60473.333333,...,663.0,524.666667,446.50,2020-07-12,7958.0,2.276095e+09,286013.464313,29,1.746766e+09,2020-07
1327,TX,2020-29,2020-07-25,2020-07-19,61550.0,1030.0,391609,5002,66664.5,65300.666667,...,898.0,785.333333,651.00,2020-07-19,7611.0,2.149290e+09,282392.585731,30,1.749373e+09,2020-07
1328,TX,2020-30,2020-08-01,2020-07-26,56615.0,2475.0,448224,7477,59082.5,63314.666667,...,1752.5,1423.666667,1207.75,2020-07-26,9685.0,2.748460e+09,283785.246670,31,2.043226e+09,2020-08
1329,TX,2020-31,2020-08-08,2020-08-02,56381.0,1408.0,504605,8885,56498.0,58182.000000,...,1941.5,1637.666667,1419.75,2020-08-02,6600.0,1.891456e+09,286584.255152,32,1.610796e+09,2020-08
1330,TX,2020-32,2020-08-15,2020-08-09,50738.0,1494.0,555343,10379,53559.5,54578.000000,...,1451.0,1792.333333,1601.75,2020-08-09,7261.0,2.057693e+09,283389.716843,33,1.736070e+09,2020-08
1331,TX,2020-33,2020-08-22,2020-08-16,43813.0,1271.0,599156,11650,47275.5,50310.666667,...,1382.5,1391.000000,1662.00,2020-08-16,7065.0,1.975783e+09,279657.876716,34,1.681742e+09,2020-08
1332,TX,2020-34,2020-08-29,2020-08-23,34678.0,1083.0,633834,12733,39245.5,43076.333333,...,1177.0,1282.666667,1314.00,2020-08-23,7559.0,2.136605e+09,282657.080566,35,2.023271e+09,2020-08
1333,TX,2020-35,2020-09-05,2020-08-30,29412.0,927.0,663246,13660,32045.0,35967.666667,...,1005.0,1093.666667,1193.75,2020-08-30,8218.0,2.338713e+09,284584.204186,36,1.427999e+09,2020-09
1334,TX,2020-36,2020-09-12,2020-09-06,22675.0,724.0,685921,14384,26043.5,28921.666667,...,825.5,911.333333,1001.25,2020-09-06,5385.0,1.527434e+09,283646.087651,37,1.556245e+09,2020-09
1335,TX,2020-37,2020-09-19,2020-09-13,30993.0,740.0,716914,15124,26834.0,27693.333333,...,732.0,797.000000,868.50,2020-09-13,6938.0,1.963919e+09,283067.019026,38,1.583047e+09,2020-09
1336,TX,2020-38,2020-09-26,2020-09-20,47728.0,668.0,764642,15792,39360.5,33798.666667,...,704.0,710.666667,764.75,2020-09-20,6821.0,1.897210e+09,278142.571324,39,1.723162e+09,2020-09
1337,TX,2020-39,2020-10-03,2020-09-27,34600.0,648.0,799242,16440,41164.0,37773.666667,...,658.0,685.333333,695.00,2020-09-27,8472.0,2.417884e+09,285397.039424,40,1.746217e+09,2020-10
1338,TX,2020-40,2020-10-10,2020-10-04,30125.0,579.0,829367,17019,32362.5,37484.333333,...,613.5,631.666667,658.75,2020-10-04,5616.0,1.597064e+09,284377.466168,41,1.506627e+09,2020-10
1339,TX,2020-41,2020-10-17,2020-10-11,34167.0,499.0,863534,17518,32146.0,32964.000000,...,539.0,575.333333,598.50,2020-10-11,5385.0,1.549060e+09,287662.042711,42,1.524178e+09,2020-10

In [418]:
data_for_clust=data_combined.groupby(['state','YM']).\
    agg({'new_cases':'sum','cum_cases':'max','total_value':'sum',\
         'total_value_estimate':'sum'}).reset_index()
data_for_clust['housing total value change%']=100*(data_for_clust['total_value']-data_for_clust['total_value_estimate'])/data_for_clust['total_value_estimate']

In [420]:
# reshaped_housing_pred[reshaped_housing_pred['state']=='TX']

     state    variable         value week_num       YM  total_value_estimate
40      TX    3/2/2020  1.299004e+09       10  2020-03          1.299004e+09
87      TX    3/9/2020  1.420504e+09       11  2020-03          1.420504e+09
134     TX   3/16/2020  1.389859e+09       12  2020-03          1.389859e+09
181     TX   3/23/2020  1.864477e+09       13  2020-03          1.864477e+09
228     TX   3/30/2020  1.335531e+09       14  2020-04          1.335531e+09
275     TX    4/6/2020  1.438118e+09       15  2020-04          1.438118e+09
322     TX   4/13/2020  1.541807e+09       16  2020-04          1.541807e+09
369     TX   4/20/2020  1.676430e+09       17  2020-04          1.676430e+09
416     TX   4/27/2020  1.933964e+09       18  2020-05          1.933964e+09
463     TX    5/4/2020  1.541709e+09       19  2020-05          1.541709e+09
510     TX   5/11/2020  1.721898e+09       20  2020-05          1.721898e+09
557     TX   5/18/2020  1.737488e+09       21  2020-05          1.737488e+09
604     TX   5/25/2020  2.013273e+09       22  2020-05          2.013273e+09
651     TX    6/1/2020  1.687049e+09       23  2020-06          1.687049e+09
698     TX    6/8/2020  1.711235e+09       24  2020-06          1.711235e+09
745     TX   6/15/2020  1.729419e+09       25  2020-06          1.729419e+09
792     TX   6/22/2020  2.183416e+09       26  2020-06          2.183416e+09
839     TX   6/29/2020  1.451168e+09       27  2020-07          1.451168e+09
886     TX    7/6/2020  1.693609e+09       28  2020-07          1.693609e+09
933     TX   7/13/2020  1.746766e+09       29  2020-07          1.746766e+09
980     TX   7/20/2020  1.749373e+09       30  2020-07          1.749373e+09
1027    TX   7/27/2020  2.043226e+09       31  2020-08          2.043226e+09
1074    TX    8/3/2020  1.610796e+09       32  2020-08          1.610796e+09
1121    TX   8/10/2020  1.736070e+09       33  2020-08          1.736070e+09
1168    TX   8/17/2020  1.681742e+09       34  2020-08          1.681742e+09
1215    TX   8/24/2020  2.023271e+09       35  2020-08          2.023271e+09
1262    TX   8/31/2020  1.427999e+09       36  2020-09          1.427999e+09
1309    TX    9/7/2020  1.556245e+09       37  2020-09          1.556245e+09
1356    TX   9/14/2020  1.583047e+09       38  2020-09          1.583047e+09
1403    TX   9/21/2020  1.723162e+09       39  2020-09          1.723162e+09
1450    TX   9/28/2020  1.746217e+09       40  2020-10          1.746217e+09
1497    TX   10/5/2020  1.506627e+09       41  2020-10          1.506627e+09
1544    TX  10/12/2020  1.524178e+09       42  2020-10          1.524178e+09

In [425]:
temp = out[out['month_label']==out['month']].groupby(['month_label','Cov_label'])\
.agg({'new_cases':'mean','cum_cases':'mean'}).reset_index()
round(temp.groupby('Cov_label').agg({'new_cases':['mean','std'],'cum_cases':['mean','std']}),2)

                   new_cases            cum_cases
                        mean       std       mean        std
Cov_label
High risk           63308.46  34841.93  209889.96  128930.00
Medium to low risk  10327.31   5395.83   38686.00   29210.37